{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true,
            "dynamicImport": true
        },
        "target": "es2018",
        "transform": {
            "react": {
                "runtime": "automatic",
                "importSource": "react"
            }
        }
    },
    "module": {
        "type": "commonjs"
    },
    "env": {
        "targets": {
            "node": "current"
        }
    }
}
