asgiref==3.5.2
cffi==1.15.1
cryptography==38.0.4
django==4.1.4
django-environ==0.9.0
django-extensions==3.2.1
django-filter==22.1
django-guardian==2.4.0
django-health-check==3.17.0
django-rest-knox==4.2.0
djangorestframework==3.14.0
djangorestframework-api-key==2.2.0
djangorestframework-guardian==0.3.0
drf-extensions==0.7.1
gunicorn==20.1.0
markdown==3.4.1
psycopg2-binary==2.9.5
pycparser==2.21
pytz==2022.6
setuptools==65.6.3
sqlparse==0.4.3
