name: Backend Compliance CI

on:
  push:
    paths:
      - 'api/**'
      - '.github/**'

defaults:
  run:
    shell: bash
    working-directory: api

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup_python
        with:
          env: 'dev'
      - run: pdm sync --dev
      - uses: psf/black@stable

  test:
    needs: format
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports: [ '5432:5432' ]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup_python
        with:
          env: 'dev'

      - name: Run Tests
        env:
          DATABASE_URL: 'postgres://postgres:postgres@localhost:${{ job.services.postgres.ports[5432] }}/postgres'
        run: |
          pdm sync --dev
          pdm test

  release-api:
    runs-on: ubuntu-latest
    name: Release api.pugtube.dev to Docker Hub
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: benjlevesque/short-sha@v2.1
        id: short-sha
        with:
          length: 8

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: api
          push: true
          tags: abdulachik/api.pugtube.dev:latest,abdulachik/api.pugtube.dev:${{ steps.short-sha.outputs.sha }}

  release-orion:
    runs-on: ubuntu-latest
    name: Release orion.pugtube.dev to Docker Hub
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: benjlevesque/short-sha@v2.1
        id: short-sha
        with:
          length: 8

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: api
          push: true
          file: orion.Dockerfile
          tags: abdulachik/orion.pugtube.dev:latest,abdulachik/orion.pugtube.dev:${{ steps.short-sha.outputs.sha }}

  release-agent:
    runs-on: ubuntu-latest
    name: Release agent.pugtube.dev to Docker Hub
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: benjlevesque/short-sha@v2.1
        id: short-sha
        with:
          length: 8

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: api
          push: true
          file: agent.Dockerfile
          tags: abdulachik/agent.pugtube.dev:latest,abdulachik/agent.pugtube.dev:${{ steps.short-sha.outputs.sha }}
